*{
    margin:0;
    padding:0;
}

.rules{
ul {
list-style-type: none;
 }
}

.wrapper{
    width:100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:30px;
}

.reset{
    position: relative;
    display: flex;
 button{
     margin: auto;
 }
}

.rules{
    display: flex;
    position: relative;
    flex-direction: row;
}

img{
    width:150px;
    height:auto;
}

ul li{
    margin-top: 25px;
}

ul{
    margin: -20px auto auto 20px ;
}

.rules,
.buttons,
.results,
.reset,
.header{
    justify-content: center;
    margin:20px auto;
}

.buttons{
    button{
        margin-right: 10px;
        background-color: lightgreen;
        width:100px;
        height:50px;
        border-radius: 10px;
    }
    button:hover{
        transform: scale(1.2);
    }
}

.header{
   width:100%;
   text-align: center; 
h1{
    
    text-align: center;
    font-size: 50px;

}
}

.reset {
    button{
        background-color: lightsalmon;
        width:100px;
        height:50px;
        border-radius: 10px;
    }
    button:hover{
        transform: scale(1.2);
    }
}

.results{
    font-size: 20px;
    font-weight:bold;
}